/*X-LARGE*/
@media(max-width:1399px){
	.header .container{
		max-width:95%;
		width:95%;
	}
	.se_attraction_blocks{
		padding:0 2rem;
	}
}

/*LARGE*/
@media(max-width:1199px){
	.header .container{
		max-width:100%;
		width:100%;
	}
	.header_nav li a,
	.header.header_scrolled .header_nav li a{
		padding: 1.45rem 0.25rem;
	}
	.se_attractions.se_info{
		padding:0 10%;
	}
	.se_beer_list{
		padding:0 10%;
	}
	.se_deals_slider .slick-next{
		right:4rem;
		top:auto;
		transform:skew(-15deg, 0) translate(0,0);
		bottom:-1rem;
	}
	.se_deals_slider .slick-prev{
		left:0;
		top:auto;
		transform:skew(-15deg, 0) translate(0,0);
		bottom:-1rem;
	}
	.se_interior_nav h3, .se_interior_nav ul{
		font-size:18px;
	}
	.se_event_section .col-lg-5{
		padding-left:3rem;
	}
	.se_event_section .col-lg-5.order-lg-2{
		padding-left:0;
		padding-right:3rem;
	}
	.se_event_photo{
		padding-bottom:100%;
	}
	.se_event_photo img{
		height:100%;
		width:auto;
	}
	.se_faq{
		padding:0 1rem;
	}
    .se_pricing_table tr td:last-child{
        width: auto;
    }
    .pub_grub_image {
        margin: 0px -60%;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px !important;
    }
}
/*MEDIUM*/
@media(max-width:991px){
	.header_right{
		display:none;
		position:fixed;
		background:black;
		top:0;
		left:0;
		right:0;
		width:100%;
		text-align:center;
		z-index:1001;
		padding:2rem;
	}
	.header.header_scrolled .header_right{
		padding:2rem;
	}
	.header_mobile{
		display:block;
		margin-top:0;
		color:white;
		padding:1.5rem 2rem;
		font-size:36px;
		cursor:pointer;
		z-index:1002;
	}
	.header.header_scrolled .header_mobile{
		font-size:30px;
		padding:0.5rem 2rem;
	}
	.header_nav,
	.header_button{
		display:block;
	}
	.header_button{
		margin-top:2rem;
	}
	.header_nav li{
		display:block;
	}
	.header_nav li a,
	.header.header_scrolled .header_nav li a{
		padding:0.5rem;
	}
	.header_nav li .sub-menu{
		position:relative;
		width:100%;
		background:transparent;
		-webkit-transform:none;
		transform:none;
		border:none;
		text-align:center;
		margin:0;
	}
	.header_nav li .sub-menu li a{
		color:white;
	}
	.se_attraction_icon img{
		padding:3rem;
	}
	.se_inner_content{
		background-size:cover;
	}
	.se_attractions.se_info{
		padding:0;
	}
	.se_newsletter{
		width:100%;
	}
	.footer_logo{
		padding:1rem;
	}
	.se_attraction_block_content{
		margin-top:0.5rem;
	}
	.se_attraction_block .se_attraction_icon img{
		padding:1rem;
	}
	.se_pricing_box{
		height:auto;
		margin-bottom:1rem;
	}
	.se_content p,
	.se_main_content p,
	.se_main_content_blue p, 
	.se_main_content_background p
	{
		padding:0;
	}
	.se_main_content ol{
		padding:0 1rem 0 2rem;
	}
	.se_top_divider::before{
		width:78%;
	}
	.se_contact_form{
		padding:0;
	}
	.se_event_photo{
		padding-bottom:40%;
	}
	.se_event_photo img{
		width:120%;
		height:auto;
	}
	.se_event_text{
		height:auto;
		margin-top:2rem;
	}
	.se_event_text_inner{
		position:relative;
		-webkit-transform:none;
		transform:none;
	}
	.se_event_section .col-lg-5,
	.se_event_section .col-lg-5.order-lg-2{
		padding:0 3rem;
	}
	.se_contact_content .se_info_map{
		padding-bottom:60%;
		height:auto;
		margin:2rem 0;
	}
}

/*SMALL*/
@media(max-width:767px){
	.header_mobile{
		margin-top:-100px;
	}
	.header.header_scrolled .header_mobile{
		margin-top:-60px;
	}
	.se_attraction_icon {
    	width: 60%;
    	padding-bottom: 60%;
    	margin:0 auto;
    }
    .se_attractions.se_info .se_attraction_icon img{
    	padding:4rem;
    }
    .footer_social{
    	margin-top:2rem;
    }
    .footer_logo{
    	padding:2rem;
    }
    .se_attraction_block{
    	width:100%;
    	float:none;
    	padding-bottom:65%;
    }
    .se_attraction_blocks .se_attraction_block:nth-of-type(odd){
    	-webkit-transform:skew(-15deg, 0);
    	transform:skew(-15deg, 0);
    }
    .se_attraction_blocks .se_attraction_block:nth-of-type(odd) .se_attraction_block_content,
    .se_attraction_blocks .se_attraction_block:nth-of-type(odd) .se_attraction_block_image img{
    	-webkit-transform:skew(15deg, 0);
    	transform:skew(15deg, 0);
    }
    .se_attraction_blocks .se_attraction_block:nth-of-type(even){
    	-webkit-transform:skew(15deg, 0);
    	transform:skew(15deg, 0);
    }
    .se_attraction_blocks .se_attraction_block:nth-of-type(even) .se_attraction_block_content,
    .se_attraction_blocks .se_attraction_block:nth-of-type(even) .se_attraction_block_image img{
    	-webkit-transform:skew(-15deg, 0);
    	transform:skew(-15deg, 0);
    }
    .se_content h2, .se_main_content h2, .se_main_content_blue h2, .se_main_content_background h2{
    	font-size:30px;
    }
    .se_top_divider::before{
    	width:70%;
    }
    .se_beer_list {
	    padding: 0;
	}
	.se_body_content{
		padding:0;
	}
    .se_beer_list li {
        padding-bottom: 1rem;
    }
    .pub_grub_image {
        margin: 0px -85%;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}
/*EXTRA SMALL*/
@media(max-width:575px){
	.header_logo img,
	.header.header_scrolled .header_logo img{
		width:90%;
		height:auto;
		padding-right:4rem;
	}
	.header_mobile{
		font-size:24px;
		padding:1.5rem 1rem;
	}
	.header.header_scrolled .header_mobile{
		font-size:24px;
		margin-top:-60px;
		padding:1rem;
	}
	.header_button a{
		display:block;
		width:100%;
		margin:0.5rem 0 0;
	}
	.hero_content h1{
		font-size:30px;
	}
	.se_content p,
	.se_main_content p,
	.se_main_content_blue p, 
	.se_main_content_background p{
		padding:0;
		font-size:16px;
	}
	.se_main_content ol{
		font-size:16px;
	}
	.se_attraction_icon{
    	width: 100%;
    	padding-bottom: 100%;
    }
    .footer_links,
    .footer_list,
    .footer h5{
    	text-align:center;
    }
    .footer_links{
    	margin-bottom:1rem;
    }
    .title_bar{
    	height:150px;
    }
    .title_bar_large{
    	height:250px;
    }
    .title_bar h1{
    	font-size:30px;
    }
    .se_attraction_block_content{
    	margin:0;
    }
    .se_attraction_block_content h3{
    	font-size:18px;
    }
    .se_top_divider::before{
    	width:50%;
    }
    .se_beer_list{
    	-webkit-columns:1;
    	columns:1;
    }
    .se_deals_slide_content_inner{
    	padding:1rem;
    }
    .se_event_text{
    	padding:0;
    }
    .se_event_section .col-lg-5,
    .se_event_section .col-lg-5.order-lg-2{
    	padding:0 2rem;
    }
    .se_event_photo{
    	padding-bottom:50%;
    }
    .se_event_text h3{
    	font-size:24px;
    }
    .se_info_map{
    	padding-bottom:60%;
    }
    .footer_form .gform_body{
	    display:block;
	    width:100% !important;
	    vertical-align:top;
	}
	.footer_form .gform_footer{
	    display:block;
	    width:100% !important;
	    vertical-align:top;
	}
	.footer_form .gform_footer input{
		height:auto !important;
	}
    .pub_grub_image {
        margin: 0px -115%;
    }
}
