/*   
Theme Name: Supercharged
Theme URI: http://superchargedracing.com
Description: Custom WordPress Theme For Supercharged
Author: Yelling Mule
Author URI: https://www.yellingmule.com
Version: 1.0
*/

@CHARSET "UTF-8";

/* =WordPress Core from http://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*CUSTOM SCSS
-------------------------------------------------------------- */

html, body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
    font-family:'Open Sans', sans-serif;
}
a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
}
h1, h2, h3, h4, h5{
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
}

/*BUTTONS*/

.site_button{
    display:inline-block;
    padding:0.5rem 2rem;
    color:white;
    background:#b12028;
    text-transform:uppercase;
    border:none;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    font-size:18px;
}
/*
.site_button p{
    margin: 0 !important;
    width: 100%;
    padding: 0 !important;
    display: block;
    -webkit-transform:skew(15deg, 0);
    transform: skew(15deg, 0);
        -webkit-transition-duration:10ms;
    transition-duration:10ms;
}
*/
.site_button:hover{
    color:white;
    background:#d42831;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
}
/*
.site_button:hover p{
    margin: 0;
    width: 100%;
    padding: 0;
    display: block;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
}
*/
.site_button_inverse{
    background:white;
    color:#b12028 !important;
    margin-right:5px;
}
.site_button_inverse:hover{
    background:#d42831;
    color:white !important;
}

/*HEADER*/

.header{
    width:100%;
    position:fixed;
    z-index:1000;
    height:100px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.header_logo{
    height:100px;
    position:relative;
    z-index:1000;
}
.header_logo a{
    display:block;
    height:100%;
    width:100%;
}
.header_logo img{
    height:100%;
    padding:1.5rem 0;
}
.header_mobile{
    display:none;
    font-size:24px;
    color:#808080;
    position:absolute;
    right:0;
    top:0;
    margin-top:-70px;
}
.header_right{
    text-align:right;
    padding-top:1.5rem;
}
.header_nav{
    list-style:none;
    margin:0;
    padding:0;
    display:inline-block;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
}
.header_nav li{
    display:inline-block;
    position:relative;
}
.header_nav li a{
    display:block;
    padding:1.45rem 1rem;
    color:white;
}
.header_nav li a:hover,
.header_nav li:hover > a,
.header_nav li.current-menu-item a,
.header_nav li .sub-menu li a:hover{
    color:#d42831;
}
.header_nav li .sub-menu{
    display:none;
    margin:0 0 0 -1rem;
    padding:0.25rem 0;
    position:absolute;
    background:white;
    border:2px solid #eee;
    border-top:none;
    width:200px;
    font-size:14px;
    text-align:left;
    -webkit-transform:skew(-10deg, 0);
    transform:skew(-10deg, 0);
}
.header_nav li .sub-menu li{
    display:block;
}
.header_nav li .sub-menu li a{
    padding:0.25rem 1rem;
    color:black;
}
.header_nav li:hover .sub-menu{
    display:block;
}
.header_button{
    display:inline-block;
    margin-left:1rem;
}
.header_button a{
    padding:0.5rem 1rem;
    font-size:16px;
}
.header_button > a:first-of-type{
    background:white;
    color:#b12028;
    margin-right:5px;
}
.header_button > a:first-of-type:hover{
    background:#d42831;
    color:white;
}
.header .container{
    max-width:85%;
    width:85%;
}
.header.header_scrolled{
    background:black;
    height:100px;
}
.header.header_scrolled .header_button {
    padding-top: 10px;
}
.header.header_scrolled .header_logo{
    height:60px;
}
.header.header_scrolled .header_logo img{
    padding:0.75rem 0;
}
.header.header_scrolled .header_right{
    padding-top:0;
}
.header.header_scrolled .header_nav li a{
    padding:1.13rem 1rem;
}
.header.header_scrolled .header_nav li .sub-menu a{
    padding:0.25rem 1rem;
}


/*HERO*/

.hero{
    position:relative;
    height:100vh;
    width:100%;
}
.hero_slider{
    position:relative;
    height:100%;
    width:100%;
}
.hero_slider .slick-list,
.hero_slider .slick-track{
    height:100%;
}
.hero_slide{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
}
.hero_overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
.hero_content{
    position:absolute;
    top:45%;
    -webkit-transform:translate(0,-45%);
    transform:translate(0,-45%);
    left:0;
    right:0;
    text-align:center;
}
.hero_content h1, .hero_content h2{
    color:white;
    font-size:50px;
    margin:0;
    padding:0 10%;
}
.hero_content p{
    text-transform:uppercase;
    font-weight:300;
    font-size:28px;
    margin:0;
    color:white;
}
.hero_form{
    position:absolute;
    top:65%;
    -webkit-transform:translate(0,-65%);
    transform:translate(0,-65%);
    left:0;
    right:0;
    padding:0 25%;
    text-align:center;
    color:white;
    font-weight:300;
}
.hero_form_input{
    width:70%;
    display:inline-block;
    background:white;
    height:40px;
    -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    padding:0 4%;
}
.hero_form_input input{
    width:100%;
    height:40px;
    border:none;
}
.hero_form_input input:focus{
    outline:none;
}
.hero_form_submit{
    height:40px;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
    clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
    background:#b12028;
    width:35%;
    display:inline-block;
    vertical-align:center;
/*    float:right;*/
    text-align:center;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    cursor:pointer;
}
.hero_form_submit input, .hero_form_submit a{
    display:block;
    width:100%;
    height:40px;
    background:transparent;
    border:0;
    color:white;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    font-size:18px;
    padding-top: .4rem;
}
.hero_form_submit:hover{
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
    clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
    background:#d72832;
    cursor:pointer;
}
.hero_bottom_overlay{
    width:100%;
    height:200px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
}
.hero_scroll{
    height:50px;
    position:absolute;
    bottom:1rem;
    left:0;
    right:0;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}
.hero_scroll img{
    height:100%;
    filter:brightness(0) invert(1);
    opacity:0.5;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}
.hero_scroll:hover{
    bottom:0.25rem;
}
.hero_scroll:hover img{
    opacity:1;
}

/*MAIN CONTENT*/

.se_content{
    padding:6rem 0 2rem;
    position:relative;
    text-align:center;
    color:white;
}
.se_main_content{
    padding:6rem 0 2rem;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,84,135,1) 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,84,135,1) 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,84,135,1) 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#005487',GradientType=0 ); /* IE6-9 */
    width:100%;
    text-align:center;
    color:white;
}
.se_main_content_full{
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,84,135,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,84,135,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,84,135,1) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.se_main_content_reverse{
    padding-top:2rem;
    background: rgb(0,84,135); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,84,135,1) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,84,135,1) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,84,135,1) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005487', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.se_main_content_blue{
    background:#005487;
    padding:4rem 0 2rem;
    position:relative;
    text-align:center;
    color:white;
}
.se_main_content_background{
    padding:6rem 0;
    position:relative;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-position:center center;
    color:white;
    text-align:center;
}
.se_main_content_background::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.se_main_content_background_reverse::before{
    background: -moz-linear-gradient(top, rgba(0,84,135,1) 0%, rgba(0,42,68,0.5) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,84,135,1) 0%,rgba(0,42,68,0.5) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,84,135,1) 0%,rgba(0,42,68,0.5) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005487', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.se_main_content_background .container{
    z-index:1;
    position:relative;
}
.se_content h2,
.se_main_content h2,
.se_main_content_blue h2,
.se_main_content_background h2{
    font-size:40px;
    margin:0;
}
.se_content p,
.se_main_content p,
.se_main_content_blue p,
.se_main_content_background p{
    font-weight:300;
    font-size:18px;
    padding:0 15%;
}
.se_main_content ol{
    text-align:left;
    padding:0 15%;
    font-weight:300;
    font-size:18px;
}
.se_content_button{
    display:block;
    margin-top:2rem;
    cursor: pointer;
}
.se_inner_content{
    padding:5rem 0;
    background-size:100% auto;
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
}
.se_inner_content .container{
    z-index:1;
    position:relative;
}
.se_inner_content_reverse::before{
    background: rgb(0,84,135); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,84,135,1) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,84,135,1) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,84,135,1) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005487', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.se_inner_content_pub{
    padding:8rem 0;
    margin-top:3rem;
}
.se_top_divider{
    padding:3rem 0;
    text-align:right;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
}
.se_top_divider::before{
    content:'';
    width:86%;
    height:1px;
    background:white;
    display:block;
    vertical-align:middle;
    margin-bottom:-0.6rem;
}
.se_main_content .se_top_divider:last-of-type{
    padding-bottom:0;
}
.se_body_content{
    text-align:left;
    padding:0 15%;
}
.se_body_content h2,
.se_body_content h3{
    text-align:center;
}
.se_body_content p{
    padding:0;
    font-size:16px;
}


/*ATTRACTIONS*/

.se_attraction_icon{
    width:100%;
    padding-bottom:100%;
    position:relative;
    overflow:hidden;
}
.se_attraction_icon img{
    width:auto;
    height:100%;
    position:absolute;
    margin:auto;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
    -webkit-filter:brightness(0) invert(1);
    filter:brightness(0) invert(1);
    padding:2rem;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}
.se_attraction h3{
    font-weight:300;
    font-size:24px;
    margin:0;
    color:white;
}
.se_attraction a:hover .se_attraction_icon img{
    -webkit-transform:scale(1.2) rotate(360deg);
    transform:scale(1.2) rotate(360deg);
}
.se_attractions.se_info .se_attraction_icon img{
    padding:3rem;
}
.se_attractions.se_info{
    padding:0 15%;
}
.se_attraction_blocks{
    margin-top:3rem;
    text-align:center;
}
.se_attraction_blocks::after{
    content:'';
    clear:both;
    display:block;
}
.se_attraction_block{
    width:49%;
    padding-bottom:35%;
    overflow:hidden;
    position:relative;
    text-align:center;
    background:black;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    float:left;
    margin-bottom:1.5rem;
}
.se_attraction_blocks .se_attraction_block:nth-of-type(even){
    float:right;
}
.se_attraction_block a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    color:white;
}
.se_attraction_block a:hover::after{
    content:'';
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    outline:15px solid #b12028;
    outline-offset:-15px;
}
.se_attraction_block_image{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.se_attraction_block_image img{
    position:absolute;
    width:120%;
    height:auto;
    margin:auto;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
    opacity:0.5;
}
.se_attraction_block a:hover .se_attraction_icon img{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
.se_attraction_block_content{
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
    margin-left:-1rem;
    margin-top:2rem;
}
.se_attraction_block .se_attraction_icon{
    width:50%;
    padding-bottom:45%;
    margin:0 auto;
}
.se_attraction_blocks .se_attraction_block:nth-of-type(3),
.se_attraction_blocks .se_attraction_block:nth-of-type(4){
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
}
.se_attraction_blocks .se_attraction_block:nth-of-type(3) .se_attraction_block_content,
.se_attraction_blocks .se_attraction_block:nth-of-type(4) .se_attraction_block_content{
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    margin-right:-1rem;
    margin-left:0;
}
.se_attraction_blocks .se_attraction_block:nth-of-type(3) .se_attraction_block_image img,
.se_attraction_blocks .se_attraction_block:nth-of-type(4) .se_attraction_block_image img{
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
}
.se_pricing_boxes{
    margin:2rem 0 0;
}
.se_pricing_box{
    background:#b12028;
    color:white;
    height:100%;
    padding:2rem;
    position:relative;
}
.se_pricing_table{
    width:100%;
    text-align:left;
}
.se_pricing_table tr td{
    padding:0.25rem 0;
}
.se_pricing_table tr td:last-child{
    text-align:right;
    font-weight:700;
        vertical-align: top;
}
.se_pricing_table tr td:nth-child(2) {
    text-align: left;
}
th.third_title {
    text-align: right;
}

/*FOOTER*/

.footer{
    background:black;
    padding:3rem 0 0;
}
.footer a{
    color:white;
}
.footer a:hover{
    color:#d42831;
}
.footer_links,
.footer_list,
.footer_social{
    list-style:none;
    margin:0;
    padding:0;
    color:white;
    font-size:14px;
    font-weight:300;
}
.footer_links li a{
    color:white;
}
.footer h5{
    color:white;
    margin:0 0 0.5rem;
    font-size:14px;
}
.footer_social{
    text-align:center;
    font-size:20px;
}
.footer_social li{
    display:inline-block;
}
.footer_social li a{
    display:block;
    padding:0.25rem 0.75rem;
    color:white;
    background:#b12028;
    text-transform:uppercase;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}
.footer_social li a:hover{
    color:white;
    background:#d42831;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
}
.footer_logo{
    text-align:center;
    padding:1.75rem 25%;
}
.footer_logo img{
    width:100%;
}
.footer_info{
    text-align:right;
}
.footer_list{
    margin-bottom:1rem;
}
.footer_list li a{
    text-decoration:underline;
}
.footer_form{
    text-align:center;
}
.se_newsletter{
    width:80%;
    margin:0 auto;
}
.se_newsletter_input{
    width:70%;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    font-size:14px;
    padding:2px 10px;
    border:1px solid white;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
}
.se_newsletter_button{
    width:25%;
    padding:2px;
    font-size:16px;
    cursor:pointer;
}
.footer_bottom{
    padding:1rem 0;
    text-align:center;
    border-top:1px solid white;
    margin-top:1rem;
}
.footer_bottom p{
    font-size:11px;
    color:white;
    margin:0;
    font-weight:300;
}

/*TITLE BAR*/

.title_bar{
    position:relative;
    height:250px;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;
}
.title_bar::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.title_bar_large{
    height:350px;
}
.title_bar h1{
    position:absolute;
    top:70%;
    transform:translate(0,-70%);
    font-size:50px;
    color:white;
    left:0;
    right:0;
}
.title_bar p.single_post{
    position:absolute;
    top:70%;
    transform:translate(0,-70%);
    font-size:50px;
    color:white;
    left:0;
    right:0;
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

/*INTERIOR NAV*/

.se_interior_nav{
    background:black;
    padding:2rem 0;
    text-align:center;
    border-bottom:1px solid white;
}
.se_interior_nav h3,
.se_interior_nav ul{
    display:inline-block;
    margin:0;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    font-size:24px;
    color:white;
}
.se_interior_nav h3{
    margin-right:1rem;
}
.se_interior_nav ul{
    list-style:none;
    padding:0;
}
.se_interior_nav ul li{
    display:inline-block;
}
.se_interior_nav ul li::after{
    content:'•';
    margin:0 0.5rem 0 0.75rem;
    color:white;
    display:inline-block;
}
.se_interior_nav ul li:last-child::after{
    content:none;
}
.se_interior_nav ul li a{
    color:white;
}
.se_interior_nav ul li a:hover{
    color:#b12028;
}

/*PHOTO SLIDER*/

.se_photo_slider{
    position:relative;
}
.se_photo_slider .slick-list,
.se_photo_slider .slick-track{
    height:100%;
}
.se_photo_slide{
    margin:0 0.5rem;
    position:relative;
}
.se_photo_slide a{
    width:100%;
    height:100%;
}
.se_photo_slide_image{
    width:100%;
    padding-bottom:100%;
    position:relative;
    overflow:hidden;
}
.se_photo_slide_image img{
    position:absolute;
    width:auto;
    height:100%;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
    margin:auto;
}
.se_photo_slide_image.vertical img {
    position: absolute;
    width: 100%;
    height: auto;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
}
.se_photo_slide a:hover::after{
    content:attr(data-caption);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    display:block;
    color:white;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    font-size:12px;
    padding:2rem 1rem 1rem;
}
.se_photo_slider .slick-prev:before,
.se_photo_slider .slick-next:before,
.slick-lightbox .slick-prev:before,
.slick-lightbox .slick-next:before{
    color:white;
}
.slick-lightbox-slick-caption{
    display:block;
    font-size:14px;
}

/*PUB & GRUB*/

.se_beer_list{
    list-style:none;
    margin:2rem 0 0;
    -webkit-columns:3;
    columns:3;
    padding:0 15%;
}
.se_beer_list li p{
    font-weight:300;
    font-size:14px;
}
.se_beer_list li {
    display: inline-block;
    width: 100%;
}
.se_beer_list li h5{
    font-family:'Open Sans', sans-serif;
    text-transform:none;
    margin:0;
    font-weight:700;
    font-size:17px;
}
.se_deals_slider{
    position:relative;
    margin:2rem 0 0;
}
.se_deals_slider .slick-list,
.se_deals_slider .slick-track{
    height:100%;
}
.se_deals_slide{
    margin:0 0.5rem;
}
.se_deals_slide_content{
    width:100%;
    padding-bottom:70%;
    position:relative;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.se_deals_slide_content_inner{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    padding:3rem 2rem;
}
.se_deals_slide_content h3,
.se_deals_slide_content h5{
    margin:0 0 1rem;
}
.se_deals_slide_content p{
    font-size:16px;
    padding:0;
    margin:0;
}
.se_deals_slider .slick-next,
.se_deals_slider .slick-prev{
    -webkit-transform:skew(-15deg, 0) translate(0,-90%);
    transform:skew(-15deg, 0) translate(0,-90%);
    top:90%;
    z-index:100;
}
.se_deals_slider .slick-next{
    right:2rem;
}
.se_deals_slider .slick-prev{
    left:-2rem;
}
.se_deals_slider .slick-next::before{
    content:'Upcoming';
    font-family:'Russo One', sans-serif;
    font-size:14px;
    color:white;
    background:#b12028;
    padding:0.25rem 0.5rem;
}
.se_deals_slider .slick-prev::before{
    content:'Previous';
    font-family:'Russo One', sans-serif;
    font-size:14px;
    color:white;
    background:#b12028;
    padding:0.25rem 0.5rem;
}

/*FORMS*/

.se_contact_form{
    padding:0 25%;
}
.se_contact_form .row{
    margin:0 -7.5px;
}
.se_contact_form .col-md-6{
    padding:0 7.5px;
}
.se_contact_form input,
.se_contact_form textarea{
    width:100%;
    border:none;
    padding:0.5rem 0.5rem;
    height:auto;
    margin-bottom:1rem;
}
.se_contact_form input[type="submit"]{
    width:auto;
    padding:0.25rem 2rem;
    cursor:pointer;
}

/*EVENTS*/

.se_main_content_events{
    padding-top:0;
}
.se_main_content p a {
    font-weight: 600;
    color: #fff;
}
.se_main_content p a:hover {
    text-decoration: underline;
}
.se_event_section{
    padding:2rem 0;
}
.se_event_photo{
    width:100%;
    padding-bottom:75%;
    position:relative;
    overflow:hidden;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
}
.se_event_photo img{
    width:120%;
    height:auto;
    position:absolute;
    margin:auto;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
}
.se_event_text{
    text-align:center;
    padding:0 2rem;
    height:100%;
    position:relative;
}
.se_event_text_inner{
    position:absolute;
    top:50%;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
}
.se_event_text h3{
    font-size:30px;
}
.se_event_text p{
    font-size:16px;
    padding:0;
}


/*INFO*/

.se_info_map{
    width:100%;
    padding-bottom:30%;
    position:relative;
    overflow:hidden;
    margin:2rem 0;
}
.se_info_map iframe{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.se_info_text p{
    font-size:16px;
    margin:0;
}
.se_info_text p a{
    color:white;
    text-decoration:underline;
}
.se_info_text p a:hover{
    color:#b12028;
}

/*FAQ*/

.se_faq{
    padding:2rem;
    text-align:left;
    font-family:'Open Sans', sans-serif;
    padding:0 10%;
}
.se_faq_q{
    padding:1rem 0rem 1rem 3rem;
    position:relative;
}
.se_faq .se_faq_section:last-of-type{
    border-bottom:none;
}
.se_faq_q i{
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
    font-size:24px;
    color:white;
}
.se_faq_q h5{
    text-transform:none;
    margin:0;
    font-family:'Open Sans', sans-serif;
}
.se_faq_a{
    display:none;
}
.se_faq_a p{
    font-size:14px;
    padding:1rem 0 1rem 5rem;
}

/*GALLERY SLIDER*/

.se_info_gallery_slider{
    margin-top:2rem;
}
.se_info_gallery_slide_image{
    width:100%;
    padding-bottom:50%;
    position:relative;
    overflow:hidden;
}
.se_info_gallery_slide_image img{
    position:absolute;
    width:100%;
    height:auto;
    margin:auto;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
}
.se_info_gallery_slider_thumbs .se_info_gallery_slide_image{
    padding-bottom:100%;
}
.se_info_gallery_slider_thumbs .se_info_gallery_slide_image img{
    height:100%;
    width:auto;
}
.se_info_gallery_slider_thumbs .se_info_gallery_slide{
    margin:0 5px;
}
.se_info_gallery_slider_thumbs{
    margin:10px -5px;
}
.se_info_gallery_slider_thumbs .slick-next{
    height:100%;
    width:2.5rem;
    background:rgba(177, 32, 40, 0.8);
    padding:0.5rem;
    right:5px;
}
.se_info_gallery_slider_thumbs .slick-prev{
    height:100%;
    width:2.5rem;
    background:rgba(177, 32, 40, 0.8);
    padding:0.5rem;
    left:5px;
    z-index:100;
}
.se_info_gallery_slider_thumbs .slick-next::before,
.se_info_gallery_slider_thumbs .slick-prev::before{
    height:100%;
    color:white;
    vertical-align:middle;
    line-height:100%;
}

/*CONTACT*/

.se_contact_content{
    margin:2rem 0;
}
.se_contact_content .se_info_map{
    height:100%;
    padding-bottom:0;
    margin:0;
}
.se_contact_content .se_contact_form{
    padding:0;
}


/*Contact form*/
.gform_wrapper textarea.medium {
    height: auto!important;
   
}



.gform_footer.top_label {
    text-align: center;
}



input.gform_button.button{
    display:inline-block;
    padding:0.5rem 2rem;
    background: white;
    color: #b12028;
    text-transform:uppercase;
    border:none;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    font-size:18px;

}


input.gform_button.button:hover{
    color:white;
    background:#d42831;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);
}


/*Sign up Form*/

.gf_simple_horizontal div.gform_footer.top_label input[type="submit"] {
   display:inline-block;
    padding:0.2rem 1rem;
    color:white;
    background:#b12028;
    text-transform:uppercase;
    border:none;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    font-size:18px;
}
.gf_simple_horizontal div.gform_footer.top_label input[type="submit"]:hover {
    color:white;
    background:#d42831;
    -webkit-transform:skew(15deg, 0);
    transform:skew(15deg, 0);

}
input#input_2_1 {
    width:100%;
    -webkit-transform:skew(-15deg, 0);
    transform:skew(-15deg, 0);
    font-size:14px;
    padding:6px 10px;
    border:1px solid white;
    font-family:'Russo One', sans-serif;
    text-transform:uppercase;
    
}
.gf_simple_horizontal_wrapper li.hidden_label input {
  margin-top: 0 !important;
}
div#gform_confirmation_message_2 {
    color: white;
}

.footer_form .gform_body{
    display:inline-block !important;
    width:75% !important;
    vertical-align:top;
}
.footer_form .gform_footer{
    display:inline-block !important;
    width:23% !important;
    clear:none;
    vertical-align:top;
    margin:0 !important;
    height:42px !important;
}
.footer_form .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label{
    vertical-align:top;
    height:42px;
}
.footer_form .gform_footer input{
    height:36px !important;
}


/*Home*/
/*
.pub_grub_images img{
    width: 100%;
    height: auto;
}
*/

.col-sm-2.pub_grub_images {
    height: 300px;
    transform: skew(-15deg);
    overflow: hidden;
    margin-left: 1rem;
    justify-content: cce;
    text-align: center;
    margin: 0 auto;
    /* flex: 0 1; */
        -ms-flex: 0 0 16.666667%;
    flex: 1 0 16.666667%;
    max-width: 18.666667%;
}
.pub_grub_image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    transform: skew(15deg);
    margin: 0 -30%;
}
.pub_grub_wrap {
    position: absolute;
    top: 11rem;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
}
.slick-prev {
    z-index: 9 !important;
}


/*Modal*/
.modal-body video {
    width: 100%;
    height: auto;
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    background: transparent;
}
button.close {
    color: white !important;
    font-size: 2rem;
    opacity: 1 !important;
}
button.close:hover {
    color: #b12028 !important;
    text-shadow: 0 1px 0 #b12028;
}

/*Popup Override CSS*/
.pum-title {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif !important;
    font-weight: 500 !important;
    letter-spacing: 1.5px;
}
.pum-container {
    padding: 3rem !important;
}
.pum-content {
    font-weight: 300;
    font-size: 18px;
}
button.pum-close {
    background-color: #b12028 !important;
}

/*BLOG*/
.se_post{
    margin:0 0 3rem;
}
.se_post a{
    color:white;
}
.se_post_image{
    width:100%;
    padding-bottom:60%;
    position:relative;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
}
.se_post_image_hover{
    display:none;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    border:10px solid #b12028;
}
.se_post_image_hover h5{
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    margin:0;
}
.se_post:hover .se_post_image_hover{
    display:block;
}
.se_post_info{
    color:white;
    margin:1rem 0 0;
}
.se_post_info .date{
    font-size:14px;
    margin:0.5rem 0 0;
}
.se_post_content hr{
    border-color:white;
}
.se_post_content h5{
    font-family:'Open Sans', sans-serif;
    font-size:14px;
}
.se_post_content h2{
    font-size:30px;
    text-align:left;
    margin:0 0 1rem;
}
.se_post_content .se_body_content h2{
    margin:2rem 0 1rem;
}
.se_post_content_image{
    width:100%;
    padding-bottom:40%;
    position:relative;
    overflow:hidden;
    margin:0 0 2rem;
}
.se_post_content_image img{
    position:absolute;
    width:100%;
    height:auto;
    margin:auto;
    top:-9999px;
    right:-9999px;
    bottom:-9999px;
    left:-9999px;
}
.se_post_content h1.blog_post_title {
    font-size: 30px !important;
    text-align: left !important;
}


.se_pricing_box_wrap {
    margin-bottom: 2rem;
}
